<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Crud Patient</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
   
<!-- Header -->
  <header id="header">
      <nav>
         <div class="container">
             <div class="text-center">
                 <a href="/" class="nav-brand text-dark">Patients Management System</a>
             </div>
         </div> 
      </nav>
  </header>
<!-- /Header -->

<!--site-main-->
 <main id="">
     <div class="container">
         <div class="box-nav d-flex justify-between">
             <a href="/" class="border-shadow">
            <span class="text-gradient"> New Patient<i class="fas fa-user-plus"></i></span>
            </a>
         </div>

         <!--form handling-->
         <!--/site-main-->
         <form action="/" method="POST">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Cin</th>
                    <th>@Email</th>
                    <th>Telephone</th>
                    <th>Action</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                <td>1</td>
                <td>Abdelouahab</td>
                <td>Elhassnaoui</td>
                <td>PA15000</td>
                <td>abdel@admin.com</td>
                <td>0697405100</td>
                <td>
                  <a href="#" class="btn border-shadow update">
                      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></span>
                  </a>
                  <a class="btn border-shadow delete">
                    <span class="text-gradient"><i class="fas fa-times"></i></span></span>
                </a>
                </td>
                </tr>
            </tbody>         
            </table>
            
        </form>
     </div>
 </main>
<!--/site-main-->

</body>
</html>