<!--include header-->
<%- include('include/_header') %>

<!--site-main-->
<main id="">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="./addpate" class="border-shadow">
           <span class="text-gradient"> New Patient<i class="fas fa-user-plus"></i></span>
           </a>
        </div>

        <!--form handling-->
     <!--site-main-->
     <form action="/" method="POST">
        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Cin</th>
                <th>@Email</th>
                <th>Telephone</th>
                <th>Action</th>
            </tr>
        </thead> 
        <tbody>
            <%- include('include/_show') %>
        </tbody>         
        </table>
        
    </form>
 </div>
</main>
<!--/site-main-->

<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->