<tr>
    <td>1</td>
    <td>Abdelouahab</td>
    <td>Elhassnaoui</td>
    <td>PA15000</td>
    <td>abdel@admin.com</td>
    <td>0697405100</td>
    <td>
      <a href="#" class="btn border-shadow update">
          <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></span>
      </a>
      <a class="btn border-shadow delete">
        <span class="text-gradient"><i class="fas fa-times"></i></span></span>
    </a>
    </td>
    </tr>

    <tr>
        <td>2</td>
        <td>khaled</td>
        <td>Elhassnaoui</td>
        <td>PA15000</td>
        <td>abdel@admin.com</td>
        <td>0697405100</td>
        <td>
          <a href="#" class="btn border-shadow update">
              <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></span>
          </a>
          <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span></span>
        </a>
        </td>
        </tr>

        <tr>
          <td>3</td>
          <td>Ibrahim</td>
          <td>Lamia</td>
          <td>HH4353</td>
          <td>Admin@admin.com</td>
          <td>0677777777777</td>
          <td>
            <a href="#" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></span>
            </a>
            <a class="btn border-shadow delete">
              <span class="text-gradient"><i class="fas fa-times"></i></span></span>
          </a>
          </td>
          </tr>